<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="logForm()">
    <ion-item>
      <ion-label position="floating">Username :</ion-label>
      <ion-input type="text"  name="username" required></ion-input>
    </ion-item>

       <ion-item >
      <ion-label position="floating">Password : </ion-label>
      <ion-input type="password" name="password" required></ion-input>
    </ion-item>


    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Connexion</ion-button>
        <p style="color: red; text-align: center" routerLink="/registration">Pas de compte ?<br> enregistrez vous !</p>
      </ion-col>
    </ion-row>
  </form>


</ion-content>
